body {
  font-family: 'Oswald', Impact, sans-serif;
  margin: 0;
  padding: 0px;
  background-color: #1b3141B1
}

header {
  text-align: center;
  margin-bottom: 20px;
  width: 100%;
  background-color: #111111B1;
  box-shadow: 0 0 90px #1b3141B1;
  margin-bottom: 40px;
  padding: 10px;
  backdrop-filter: blur(4px);
  animation: fadeIn 2s ease-in-out forwards;
}

.track-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  margin: 20px;
  animation: fadeIn 2s ease-in-out forwards;
}

.track-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #111111B1;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 2px #0e1b23;
  padding: 20px;
}

.play-button {
  background-color: #f5f6f7;
  color: #111111B1;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  box-shadow: 0px 0px 10px 2px #0e1b23;
  transition: all 1s ease;
}

.play-button:hover {
  transform: scale(1.2);
}

.form-link {
  display: block;
  text-align: center;
  width: fit-content; 
  margin: 40px auto;
  padding: 10px 20px;
  background-color: #f5f6f7;
  color: #111111B1;
  text-decoration: none;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 2px #0e1b23;
}

.form-link:hover {
  animation: pulse 1s ease-in-out infinite;
}

@keyframes fadeIn {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes pulse {
  0%   { transform: scale(1); }
  50%  { transform: scale(1.1); }
  100% { transform: scale(1); }
}
